                                                # Decision Trees (Karar Ağaçları)

# Bu Makine Öğrenmesi modelinde karar verme yapısı oluşturulurken flowchart'lar yani akış diyagramı kullanılır. Buna decision(Karar) Tree(Ağaçları) denir. Supervised Learning(Denetimli öğrenme) konsepti kapsamındadır. Sonuçta bir tree oluşturur. 


# In this Machine Learning model, flowcharts are used when creating a decision-making structure. This is called a decision tree. It is within the scope of the Supervised Learning concept. As a result, it creates a tree.

 # Nerelerde Kullanılır?  (# Where is it used?)

# İşe alımlar sırasında büyük firmalar daha önce işe aldıkları kişilerin veri tabanında tuttukları bilgileri kullanarak sistemi eğitirler ve yeni bir cv veritabanında girdiğinde henüz Ik'cının önüne düşmeden Decision tree üzerinde işe alım yapılması olumlu mu diye kontrol ederler. Eğer olumlu ise Ik'cının önüne düşer. Aksi halde Ik'cı Cv'yi görmez bile.   



# During recruitment, large companies train the system using the information they have in their database of people they have previously hired, and when a new CV enters the database, they check whether the recruitment is positive on the Decision tree before it even appears in front of the HR person. If it is positive, it appears in front of the HR person. Otherwise, the HR person does not even see the CV.

In [4]:
# İlk olarak verilerimizi yüklüyoruz ve kütüphanelerimizi import ediyoruz.
# First, we load our data and import our libraries.

In [10]:
import numpy as np
import pandas as pd
from sklearn import tree 

df = pd.read_csv("DecisionTreesClassificationDataSet.csv")

In [12]:
df.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi
0,11,Y,4,BS,N,N,Y
1,0,N,0,PhD,Y,Y,Y
2,5,Y,2,MS,N,Y,Y
3,3,N,1,BS,N,Y,Y
4,0,N,0,BS,N,N,N

# scikit-learn kütüphanesi decision tree'lerin düzgün çalışması için herşeyin rakamsal olmasını bekliyor bu nedenle veri setimizdeki tüm Y ve N değerlerini 0 ve 1 olarak düzeltiyoruz. Aynı sebeple eğitim seviyesini de Bs:0 Ms:1 ve PhD:2 olarak güncelliyoruz. map() kullanarak boş hücreler veya geçersiz değer girilen hücreler NaN ile doldurulacaktır. Buna şuandaki veri setimizde ihtiyacımız yok ama sizin ileride yoğun veri ile çalıştığınız zaman ihtiyacınız olacaktır. 



# scikit-learn library expects everything to be numeric for decision trees to work properly, so we fix all Y and N values ​​in our dataset to 0 and 1. For the same reason, we update the education level to Bs:0 Ms:1 and PhD:2. Empty cells or cells with invalid values ​​will be filled with NaN using map(). We don't need this in our current dataset, but you will need it in the future when you work with large amounts of data.

In [19]:
duzeltme_mapping = {"Y": 1, "N": 0}

df["IseAlindi"] = df["IseAlindi"].map(duzeltme_mapping)
df["Suancalisiyor?"] = df["SuanCalisiyor?"].map(duzeltme_mapping)
df["Top10 Universite?"] = df["Top10 Universite?"].map(duzeltme_mapping)
df["StajbizdeYaptimi?"] = df["StajBizdeYaptimi?"].map(duzeltme_mapping)
duzeltme_mapping_egitim = {"BS":0, "MS":1, "PhD":2}
df["Egitim Seviyesi"] = df["Egitim Seviyesi"].map(duzeltme_mapping_egitim)
df.head()

,Deneyim Yili,SuanCalisiyor?,Eski Calistigi Firmalar,Egitim Seviyesi,Top10 Universite?,StajBizdeYaptimi?,IseAlindi,Suancalisiyor?,StajbizdeYaptimi?
0,11,Y,4,0,NaN,N,NaN,1,0
1,0,N,0,2,NaN,Y,NaN,0,1
2,5,Y,2,1,NaN,Y,NaN,1,1
3,3,N,1,0,NaN,Y,NaN,0,1
4,0,N,0,0,NaN,N,NaN,0,0

In [35]:
# Sonuç sütununu ayırıyoruz. (# We separate the result column.)

y = df["IseAlindi"]
x = df.drop(["IseAlindi"], axis=1)